// Status card style
.card-icon {
  flex: 0 0 auto;
  background: rgba($primary, 0.1);
  width: $card-status-icon-size;
  height: $card-status-icon-size;
  color: $primary;
  font-size: 36px;
}

.card-status {
  color: $gray-dark;
  letter-spacing: 0.3px;
}

.card {
  .card-header {
    &.bg-primary-color {
      background-color: $primary;

      button {
        color: color-yiq($primary);
      }
    }

    @each $color,
    $value in $theme-colors {
      &.bg-#{$color}-color {
        background: $value;
        color: color-yiq($value);
      }
    }

    button {

      &.disabled,
      &:disabled {
        color: $text-muted;
      }
    }
  }

  .card-body {
    color: $text-muted;
  }
}

// Aside list style
.aside-list {
  @include media-breakpoint-between('xs', null) {
    flex: 0 0 100%;
    max-width: 100%;
  }

  @include media-breakpoint-up('md') {
    flex: 0 0 $aside-list-width-sm;
    max-width: $aside-list-width-sm;
  }

  @include media-breakpoint-up('lg') {
    flex: 0 0 $aside-list-width;
    max-width: $aside-list-width;
  }

  .tile {
    background: $white;

    &:hover {
      background: rgba($gray-light, 0.3);
    }

    &.active {
      background: rgba($gray-light, 0.6);
    }

    &-action-btn {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 9;

      .action-btn {
        &::after {
          display: none;
        }
      }
    }
  }
}

// Card-view container
.card-view-container {
  @include media-breakpoint-between('xs', 'sm') {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: $transition-base;
  }
}
