html,
body {
  width: 100%;
  height: 100%;
}
body {
  overflow: hidden;
}
.cursor-pointer {
  cursor: pointer;
}

img{
  max-width: 100%;
}

.icon {
  font-size: 16px;
}

// Description text
.text-desc {
  font-size: $font-size-base * 0.9;
}

// label color
label {
  color: $body-color;
}

// font weight for semibold 
.font-weight-semibold {
  font-weight: $font-weight-semibold;
}

// Inherit color and background-color
.inherit-color {
  color: inherit;
}
.inherit-bg-color {
  background-color: inherit;
}