// Options
$enable-flex:true;
$enable-responsive-font-sizes: true;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;

/* ==============================
   Variables from ROC style guide
============================== */

// Typography
$font-size-base: 1rem;                  // 16px - Body text
$font-size-sm: 0.875rem;                // 14px - Secondary body text, Buttons, Form labels
$small-font-size: 0.75rem;              // 12px - Small text
$small-uppercase-font-size: 0.625rem;   // 10px - small all uppercase font.

$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-semibold:        500;
$font-weight-bold:            700;

$h1-font-size: $font-size-base * 3;     // 48px - Big Title
$h2-font-size: $font-size-base * 2.5;   // 40px - Title
$h3-font-size: $font-size-base * 2;     // 32px - Heading
$h4-font-size: $font-size-base * 1.5;   // 24px - Heading 2
$h5-font-size: $font-size-base * 1;     // 16px - Subheading
$h6-font-size: $font-size-sm;           // 14px - Small heading

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:      190;

// Display fonts
$display4-size:             $font-size-base * 2;

/* ==============================
   End: Variables from ROC style guide
============================== */


// Global Spacer
$spacer: 1rem;

// Global Border
$border-width: 1px;

// Sidebar 
$sidebar-expanded-width: 250px;
$sidebar-collapsed-width: 70px;

// Topbar
$dashboard-topbar-height: 70px;
$notification-dropdown-width: 350px;
$avatar-img-size: 40px;
$topbar-height: 70px !default;
$topbar-dropshadow: true;

// Transition 
$transition-base: all .4s ease-in-out;

// Card variables
$card-status-icon-size: 70px;

// Spinner
$spinner-width: 4em;

// Close button
$close-font-size:   1rem;

// Rounded button 
$rounded-btn-size:   35px;

/*********************************
    Global Border Radius
*********************************/
$enable-rounded: true; // Enable/Disable border radius


$border-radius: 4px; // Set Radius Value
$custom-checkbox-indicator-border-radius: $border-radius; // Set Custom Checkbox border-radius

@if $enable-rounded and ($border-radius > 5px) {
  $custom-checkbox-indicator-border-radius: 5px;
}

/********************************
    End  Global Border Radius
*********************************/

// Alert 

$alert-bg-level:                    -10 !default;
$alert-border-level:                -10 !default;
$alert-color-level:                 5 !default;

// Button

$btn-disabled-opacity:      0.4;
$btn-font-size: $font-size-sm;

/***************************
    => DATA TABLE    
***************************/

$enable-row-spacing:              true;  // Enable row spacing (Table : border-spacing)
$enable-table-head-color:         true;  // Enable/Disable Table Header Color
$enable-table-border:             true;  // Enable full table border
$enable-table-header-border:      false; // Enable Table header border only
$th-text-uppercase:               true;  // Enable/Disable Table Thead Text uppercase
$enable-data-valign-center:       true;  // Vertically center Align of Tbody data
$enable-table-row-box-shadow:     true;  // Enable/Disable Table row box-shadow
$table-selected-row-filled:       true;  // Enable/Disable selected row fill color in Table Body


$row-space:                       0 .5rem; // --> Row Spacing
$table-border-width:              1px; // --> Table Border size
$table-cell-padding:              .75rem 1rem; // --> Cell Padding

$table-font-size:                 0.875rem; // --> Table Font size
$th-font-size:                    $table-font-size - .05rem; // --> Table TH font size
$td-font-size:                    $table-font-size - .05rem; // --> Table TD font size
$th-font-weight:                  $font-weight-semibold; // --> Table Head Font Weight
$table-filter-width:              400px !default; // --> Filter Box

/***************************
    => END DATA TABLE    
***************************/

/***************************
    => Forms  
***************************/

$label-text-uppercase:              false; // Label Text Uppercase
$label-text-capitalize:             true; // Label Text Capitalize
$enable-validation-icons:           false; // Enable/Disable validation icons in form
$enable-outline-form-control:       true; // Enable/Disable form-control outline 

$label-font-size:               .9rem; // Label Font Size
$label-font-weight:             $font-weight-semibold; // Label Font Weight
$input-font-size:               $font-size-base * 0.9; // --> Font Size

$float-label-padding-x:         0.15rem; // Floating label padding
$label-margin-bottom:           .3rem; // --> Margin of Form Control Label

$input-border-width:            1px;

// ng-select
$ng-select-top-margin:          0;

/***************************
    => ENd Forms  
***************************/

/***************
    Tabs
***********/

$disable-active-border-bottom: true; // Enable/Disable active tab bottom border

$nav-link-padding-y:            .5rem;
$nav-link-padding-x:            1rem;

$nav-tabs-border-width:         2px;
$nav-tabs-link-border-width:    0;
$nav-tabs-active-border-width:  2px;

$nav-tabs-border-radius:        $border-radius;
$nav-pills-border-radius:       $border-radius;

/***************
   End Tabs
**************/

/******************************
    => Accordion  
*****************************/


$enable-accordion-head-color:       true; // Enable/Disable accordion Header Color
$enable-accordion-body-color:       true; // Enable/Disable accordion Body Color
$enable-accordion-border:           false; // Enable Accordion border
$enable-accordion-header-border:    false; // Enable Accordion Header border only
$enable-accordion-body-border:      false; // Enable Accordion Body border only
$enable-accordion-padding:          true; // Enable accordion overall padding
$accordion-text-uppercase:          true; // Enable/Disable Accordion Header Text uppercase
$accordion-disabled:                true; // Accordion when Disabled


$accordion-border-width:            1px; // Accordion Border size
$accordion-head-border-width:       $accordion-border-width; // Accordion Head Border size
$accordion-body-border-width:       $accordion-border-width; // Accordion Body Border size

$accordion-padding:                 0.6rem 1.25rem; // Accordion Spacing
$accordion-head-padding:            $accordion-padding; // Accordion Head Spacing
$accordion-body-padding:            $accordion-padding; // Accordion Body Spacing

$accordion-font-size:               1rem; // Accordion Font-size
$accordion-head-font-size:          $accordion-font-size + 0.25rem; // Accordion Head Font-size
$accordion-body-font-size:          $accordion-font-size; // Accordion Body Font-size
$accordion-head-font-weight:        $font-weight-semibold; // Accordion Head Font Weight


/******************************
    => End Accordion  
*****************************/

// Default transition
$transition: all 0.4s ease-in-out !default;

// User profile
$user-profile-image-size: 150px;

/******************************
    => Aside List  
*****************************/

$aside-list-width:          250px;
$aside-list-width-sm:       250px;

/******************************
    => End: Aside List  
*****************************/

// Map: grid-breakpoint
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 769px,
  lg: 992px,
  xl: 1200px
) ;

// Breadcrumb 
$breadcrumb-divider: '\62';

/******************************
    => Stepper  
*****************************/
$stepper-border-height:             2px;
$stepper-indicator-size:            30px;
$stepper-indicator-border-radius:   50%;

/******************************
    => Wizard  
*****************************/
$wizard-pointer-size:               25px;
$wizard-pointer-before-size:        $wizard-pointer-size + 5px;

/******************************
    => Time slots 
*****************************/
// Legend
$timeslot-legend-indicator-width:    16px;
$timeslot-legend-indicator-height:   16px;