<!-- Site Wrapper -->
<div class="reg-wrapper d-flex">
  <!-- Registration Container -->
  <div class="container m-auto auth-container">
    <!-- Header -->
    <header class="px-2 py-4 d-flex justify-content-between">
      <figure>
        <img src="assets/img/logo.png" alt="ROC Logo">
      </figure>
      <a routerLink="/">
        <span class="icon-left"></span>
        <span> Back to main site </span>
      </a>
    </header>
    <!-- End Header -->
    <!-- Form Section -->
    <section class="block pt-2 pb-5 d-flex align-items-center flex-column">
      <header class="d-flex align-items-center flex-column">
        <h2 class="block-title text-center"> Confirm Your Email Address </h2>
        <img class="title-separator" src="assets/img/flagline.svg" alt="title-separator">
        <div class="block-desc">
          <p class="mb-0"> A confirmation email has been sent to <strong> yourname.surname@mail.com</strong>. </p>
          <p> Click on the confirmation link in the email to active your account. </p>
        </div>
      </header>
      <section class="bg-light px-5 py-3 round">
        If you still don't see it, you can <a href="#"> <strong> resend the confirmation email.</strong> </a>
      </section>
    </section>
    <!-- End Form Section-->
  </div>
  <!-- End Registration Container -->
</div>
<!-- End Site Wrapper -->
